.blog-card {
    padding: 1.5rem;
}


/* Responsive */
@media (max-width: 768px) {
    .container-blogs {
        padding: 1rem;
        gap: 1rem;
    }

    .blog-card {
        padding: 1.5rem;
    }

    .blog-header {
        /* flex-direction: column; */
        align-items: stretch;
        gap: 1rem;
    }

    .blog-actions {
        align-self: flex-end;
    }

    .blog-footer {
        gap: 1rem;
        align-items: stretch;
    }

    .blog-stats {
        justify-content: center;
    }

    .blog-title {
        font-size: 1.25rem;
    }

    .avatar {
        width: 40px;
        height: 40px;
    }
}


.blog-content {
    /* background-color: red; */
    margin: 0;
}

.mat-red,
.mat-red * {
    color: #f84b4be0;
}


.report {
    width: 100%;
}


.report * {
    width: 100%;
}


::ng-deep .mat-mdc-menu-panel:has(.report) {
    width: 600px;
    max-width: 600px;
    padding: 30px;
}

::ng-deep .mdc-text-field--filled {
    background-color: var(--bg-secondary) !important;
}

.blog-description {
    margin-left: 3.5rem;
}

.blog-description p {
    margin: 1rem 0;
}

.blog-title, .blog-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-card {
    border-top: none;
    border-bottom: none
}