version: '3.8'

services:
    postgres:
        image: postgres:15-alpine
        container_name: postgres-springboot
        ports:
            - "5432:5432"
        environment:
            POSTGRES_DB: 01blog_db
            POSTGRES_USER: ${DATABASE_USERNAME:-""}
            POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-""}
        
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: always

    backend:
        build:
            context: ./backend
            network: host
        container_name: spring-boot-app
        environment:

            SPRING_DATASOURCE_URL: ${DATABASE_URL_DOCKER:-""}
            SPRING_DATASOURCE_USERNAME: ${DATABASE_USERNAME:-""}
            SPRING_DATASOURCE_PASSWORD: ${DATABASE_PASSWORD:-""}

            JWT_SECRET_KEY: ${JWT_SECRET_KEY:-""}
            CLOUDINARY_URL: ${CLOUDINARY_URL:-""}
            SPRING_JPA_HIBERNATE_DDL_AUTO: update
            SPRING_PROFILES_ACTIVE: dev
            APP.UPLOAD.DIR: /app/uploads

        ports:
          - "8080:8080"
        depends_on:
            - postgres
        volumes: 
            - app_uploads:/app/uploads
        

    frontend:
        build:
            context: ./frontend
            network: host
        container_name: angular-app
        ports:
            - "4200:80"
        depends_on:
            - backend

volumes:
    postgres_data:
    app_uploads:

