.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 1100px;
    padding: 2rem;
    margin: 0 auto;
}

.user-info {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 80px; */
    padding: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}

.flex-row {
    display: flex;
    gap: 10px;
}

.sub {
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-primary);
    border: var(--text-primary) 1px solid;
}


.post-date {
    font-size: 0.875rem;
    color: var(--text-muted);
    margin-top: 0.25rem;
}

.author-name {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-primary);
}

.image {
    height: 100%;
    padding-inline: 5px;
    background-color: var(--outline);
    width: 100%;
}

.image img {
    width: 100px;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    /* width: 600px; */
}

.user {
    background-color: var(--bg-back);
    padding: 2px;
}

@media (max-width: 768px) {
    .content {
        width: 100%;
    }

    .container {
        padding: 1rem;
    }
}