<div class="container">

    @for (user of this.users(); track user.id) {
    <div class="user" (click)="navigateUser(user.id)">
        <div class="user-info cap">
            <div class="image">
                <img class="cap" [src]=" user.avatar ?  apiUrl+user.avatar : '/default-avatar.jpg'" alt=""
                    onerror="this.src='/default-avatar.jpg'">
            </div>
            <div class="content">
                <div class="user-details">
                    <span class="author-name">{{ user.nickname }}</span>
                    <span class="post-date">Joind at : {{ user.createdAt | date:'mediumDate' }}</span>
                </div>
                <div class="flex-row">
                    <button class="btn sub">subscribers<span class="number">{{user.subscribers}}</span>
                    </button>
                    <button class="btn sub">subscribtions <span class="number">{{user.subscribtions}}</span> </button>
                </div>
                <div>
                    @if (this.authService.currentUser?.id != user.id) {
                    @if (user.sub) {
                    <button (click)="subscribe(user.id); $event.stopPropagation()"
                        class="btn btn-red">unsubscribe</button>
                    }@else {
                    <button (click)="subscribe(user.id); $event.stopPropagation()"
                        class="btn btn-primary">subscribe</button>
                    }
                    } @else {
                    <button class="btn btn-secendary">YOU</button>
                    }


                </div>

            </div>
        </div>
    </div>

    <div>
        @if (cursor == user.id) {
        <div #loadTrigger></div>
        @defer (on viewport(loadTrigger)) {
        <div>{{ loadMoreBlogs() }}</div>
        }
        }
    </div>
    } @empty {
    <p>No items found.</p>
    }

</div>