<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-content">
            <!-- Logo -->
            <div class="logo">
                <svg (click)="toggleMobileMenu()" width="28" viewBox="0 0 20 20" class=" mobile-menu-btn">
                    <g class="fill-icon">
                        <path d="M17 1H3V3H17V1Z"></path>
                        <path d="M19 3H17V17H19V3Z"></path>
                        <path d="M17 17H3V19H17V17Z"></path>
                        <path d="M3 3H1V17H3V3Z"></path>
                        <path d="M8 3H6V17H8V3Z"></path>
                    </g>
                    <g class="fill-icon-secondary">
                        <path d="M10 9H12V11H10V9Z"></path>
                        <path d="M12 11H14V13H12V11Z"></path>
                        <path d="M12 7H14V9H12V7Z"></path>
                    </g>
                </svg>
                <a routerLink="" class="logo-link">
                    <svg width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.5777 4.43152L15.5777 3.38197C13.8221 2.46066 12.9443 2 12 2C11.0557 2 10.1779 2.46066 8.42229 3.38197L8.10057 3.5508L17.0236 8.64967L21.0403 6.64132C20.3941 5.90949 19.3515 5.36234 17.5777 4.43152Z"
                            />
                        <path
                            d="M21.7484 7.96434L17.75 9.96353V13C17.75 13.4142 17.4142 13.75 17 13.75C16.5858 13.75 16.25 13.4142 16.25 13V10.7135L12.75 12.4635V21.904C13.4679 21.7252 14.2848 21.2965 15.5777 20.618L17.5777 19.5685C19.7294 18.4393 20.8052 17.8748 21.4026 16.8603C22 15.8458 22 14.5833 22 12.0585V11.9415C22 10.0489 22 8.86557 21.7484 7.96434Z"
                            />
                        <path
                            d="M11.25 21.904V12.4635L2.25164 7.96434C2 8.86557 2 10.0489 2 11.9415V12.0585C2 14.5833 2 15.8458 2.5974 16.8603C3.19479 17.8748 4.27062 18.4393 6.42228 19.5685L8.42229 20.618C9.71524 21.2965 10.5321 21.7252 11.25 21.904Z"
                            />
                        <path
                            d="M2.95969 6.64132L12 11.1615L15.4112 9.4559L6.52456 4.37785L6.42229 4.43152C4.64855 5.36234 3.6059 5.90949 2.95969 6.64132Z"
                            />
                    </svg>

                    <span class="logo-text"><span>B</span>log</span>
                </a>
            </div>


            <!-- Desktop Navigation -->
            <div class="nav-links">
                <ul class="nav-links-list">
                    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink=""
                            class="nav-link"><svg width="20" viewBox="0 0 20 20" class="text-icon-secondary">
                                <path d="M5 3H3V5H5V3Z" class="fill-icon"></path>
                                <path d="M5 7H3V9H5V7Z" class="fill-icon"></path>
                                <path d="M5 11H3V13H5V11Z" class="fill-icon"></path>
                                <path d="M5 15H3V17H5V15Z" class="fill-icon"></path>
                                <path d="M17 3H7V5H17V3Z" class="fill-current"></path>
                                <path d="M15 7H7V9H15V7Z" class="fill-current"></path>
                                <path d="M16 11H7V13H16V11Z" class="fill-current"></path>
                                <path d="M12 15H7V17H12V15Z" class="fill-current"></path>
                            </svg>Feed</a></li>
                    <li><a routerLinkActive="active" routerLink="/discover" class="nav-link">
                            <svg width="20" viewBox="0 0 16 16" class="text-text-primary fill-current">
                                <path d="M11.2008 11.2H4.80078V12.8H11.2008V11.2Z"></path>
                                <path d="M11.2008 12.8H4.80078V14.4H11.2008V12.8Z"></path>
                                <path d="M4.79922 12.8H3.19922V14.4H4.79922V12.8Z"></path>
                                <path d="M12.7992 12.8H11.1992V14.4H12.7992V12.8Z"></path>
                                <path d="M10.4016 1.59998H5.60156V3.19998H10.4016V1.59998Z"></path>
                                <path d="M10.4016 8H5.60156V9.6H10.4016V8Z"></path>
                                <path d="M11.9984 3.19995H10.3984V7.99995H11.9984V3.19995Z"></path>
                                <path d="M5.6 3.19995H4V7.99995H5.6V3.19995Z"></path>
                                <path d="M10.4016 3.19995H5.60156V7.99995H10.4016V3.19995Z"></path>
                            </svg>
                            Discover</a></li>
                </ul>
            </div>

            <!-- Desktop Action Buttons -->
            <div class="action-buttons">
                <app-notifications class="notfs"></app-notifications>

                <app-theme-toggle></app-theme-toggle>

                <a routerLink="create" class="btn btn-primary create">Create</a>



                <!-- <a href="#" ></a> -->
                <!-- <button class="btn btn-primary">Profile</button> -->
                <div id="profile" class="profile" matIconButton [matMenuTriggerFor]="menu">
                    <img [src]="this.authService.currentUser?.avatar ? apiUrl +this.authService.currentUser?.avatar : '/default-avatar.jpg'"
                        class="pixel-corners img-profile" alt="{{ this.authService.currentUser?.nickname }}'s avatar"
                        onerror="this.src='/default-avatar.jpg'">

                </div>

                <mat-menu #menu="matMenu">
                    <div class="user-info mat-mdc-menu-item mat-focus-indicator mat-mdc-menu-item-text">
                        @{{ this.authService.currentUser?.nickname }}
                    </div>
                    <div routerLink="/profile/{{this.authService.currentUser?.id}}" mat-menu-item>
                        <svg width="20" viewBox="0 0 16 16" class="text-text-primary fill-current">
                            <path d="M11.2008 11.2H4.80078V12.8H11.2008V11.2Z"></path>
                            <path d="M11.2008 12.8H4.80078V14.4H11.2008V12.8Z"></path>
                            <path d="M4.79922 12.8H3.19922V14.4H4.79922V12.8Z"></path>
                            <path d="M12.7992 12.8H11.1992V14.4H12.7992V12.8Z"></path>
                            <path d="M10.4016 1.59998H5.60156V3.19998H10.4016V1.59998Z"></path>
                            <path d="M10.4016 8H5.60156V9.6H10.4016V8Z"></path>
                            <path d="M11.9984 3.19995H10.3984V7.99995H11.9984V3.19995Z"></path>
                            <path d="M5.6 3.19995H4V7.99995H5.6V3.19995Z"></path>
                            <path d="M10.4016 3.19995H5.60156V7.99995H10.4016V3.19995Z"></path>
                        </svg>
                        <span>Profile</span>
                    </div>

                    <!-- ////////////////// -->

                    <div mat-menu-item (click)="createBlog()">
                        <svg width="20" viewBox="0 0 20 20" class="text-icon-btn fill-current"
                            shape-rendering="crispEdges" style="image-rendering: pixelated;">
                            <path d="M16 9V11L18 11V9L16 9Z"></path>
                            <path d="M13 7V9L16 9V7L13 7Z"></path>
                            <path d="M13 13V11L16 11V13L13 13Z"></path>
                            <path d="M10 5V7L13 7V5L10 5Z"></path>
                            <path d="M10 15V13L13 13V15L10 15Z"></path>
                            <path d="M7 3V5L10 5V3L7 3Z"></path>
                            <path d="M7 17V15L10 15V17L7 17Z"></path>
                            <path d="M4 1V3L7 3V1L4 1Z"></path>
                            <path d="M4 19V17L7 17V19L4 19Z"></path>
                            <path d="M2 3L2 17L4 17L4 3L2 3Z"></path>
                        </svg>
                        <span>Create Blog</span>
                    </div>
                    @if (authService.isAdmin()) {
                    <div (click)="dashboard()" mat-menu-item>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                            class="text-text-primary fill-current">
                            <rect x="6" y="9" width="2" height="9"></rect>
                            <rect x="10" y="11" width="2" height="7"></rect>
                            <rect x="14" y="9" width="2" height="9"></rect>
                            <rect x="2" y="11" width="2" height="7"></rect>
                            <rect x="2" y="7" width="2" height="2" class="text-icon-secondary"></rect>
                            <rect x="4" y="5" width="2" height="2" class="text-icon-secondary"></rect>
                            <rect x="6" y="3" width="2" height="2" class="text-icon-secondary"></rect>
                            <rect x="8" y="5" width="2" height="2" class="text-icon-secondary"></rect>
                            <rect x="10" y="7" width="2" height="2" class="text-icon-secondary"></rect>
                            <rect x="12" y="5" width="2" height="2" class="text-icon-secondary"></rect>
                            <rect x="14" y="3" width="2" height="2" class="text-icon-secondary"></rect>
                            <rect x="16" y="1" width="2" height="2" class="text-icon-secondary"></rect>
                        </svg>
                        <span>Dashboard</span>
                    </div>
                    }

                    <!-- ////////////////////// -->
                    <div class="logout" (click)="logout()" mat-menu-item>
                        <svg width="20" viewBox="0 0 20 20"
                            class="hover:text-blue transition-colors duration-500 hover:scale-98">
                            <g class="fill-icon">
                                <path d="M17 1H3V3H17V1Z"></path>
                                <path d="M19 3H17V17H19V3Z"></path>
                                <path d="M17 17H3V19H17V17Z"></path>
                                <path d="M3 3H1V17H3V3Z"></path>
                                <path d="M8 3H6V17H8V3Z"></path>
                            </g>
                            <g class="fill-icon-secondary">
                                <path d="M10 9H12V11H10V9Z"></path>
                                <path d="M12 11H14V13H12V11Z"></path>
                                <path d="M12 7H14V9H12V7Z"></path>
                            </g>
                        </svg>
                        <span>Log out</span>
                    </div>

                </mat-menu>
            </div>
        </div>
    </div>
</nav>
