svg {
    /* margin-right: 0.5rem; */
    fill: var(--btn--primarey);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

svg:hover {
    fill: rgba(220, 20, 60, 0.705);
}

.d-l {
    width: 20px;
}


/* Responsive Design */
@media (max-width: 1000px) {
    .d-l {
        padding: 0;
        width: 20px
    }
}