<div class="container">
    <div class="info">
        <div class="avatar">
            <img class="pixel-corners img-profile" [src]="'images/'+userProfile()?.avatar" alt="{{ userProfile()?.nickname }}'s avatar"
                onerror="this.src='/default-avatar.jpg'">
        </div>
        <input style="display: none;" type="file" name="" id="">
        <div class="content">
            <div class="nickname">{{ userProfile()?.nickname }}</div>
            <div class="">{{ userProfile()?.email }}</div>
            <div class=""> Joind At : {{ userProfile()?.createdAt | date:'mediumDate' }}</div>
            <div class="flex-row">
                <button (click)="getSubscribers()" class="btn btn-primary">subscribers<span
                        class="number">{{userProfile()?.subscribers}}</span>
                </button>
                <button (click)="getSubscribtions()" class="btn btn-primary">subscribtions <span
                        class="number">{{userProfile()?.subscribtions}}</span> </button>
                @if (this.authService.currentUser?.id != userProfile()?.id ) {
                    @if (userProfile()) {
                        @if (userProfile()?.sub) {
                            <button (click)="subscribe(userProfile()?.id)" class="btn btn-red">unsubscribe</button>
                        }@else {
                            <button (click)="subscribe(userProfile()?.id)" class="btn btn-primary">subscribe</button>
                        }
                    }
                }
                


            </div>
        </div>
    </div>
    <div class="line">
    </div>

    @if (currentComponent() == "blogs") {
    <app-blogs [args]="{ user : userProfile() }" class="app-blogs"></app-blogs>
    }@else {
    <div (click)="seeBlogs()" class="btn-return cap">
        <svg width="20" viewBox="0 0 20 20"
            class="hover:text-blue transition-colors duration-500 hover:scale-98 rotate-180">
            <g class="fill-icon">
                <path d="M17 1H3V3H17V1Z"></path>
                <path d="M19 3H17V17H19V3Z"></path>
                <path d="M17 17H3V19H17V17Z"></path>
                <path d="M3 3H1V17H3V3Z"></path>
                <path d="M8 3H6V17H8V3Z"></path>
            </g>
            <g class="fill-icon-secondary">
                <path d="M10 9H12V11H10V9Z"></path>
                <path d="M12 11H14V13H12V11Z"></path>
                <path d="M12 7H14V9H12V7Z"></path>
            </g>
        </svg>
        All Blogs
    </div>
    @if (currentComponent() == "subscribers") {
    <app-discover [user]="userProfile()" sub="subscribers"></app-discover>
    } @else if (currentComponent() == "subscribtions") {
    <app-discover [user]="userProfile()" sub="subscribtions" (setSubscribtions)="setSubscribtions($event)" ></app-discover>
    }
    }



</div>

