.page {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: Roboto, sans-serif;
  background: #000000;
  overflow: hidden;
}

a {
  color: white;
}


.content {
  text-align: center;
  padding-top: 118px;
  color: #cdd4de;
}
.content h1 {
  font-weight: 900;
  font-size: 165px;
  line-height: 1;
  margin-bottom: -10px;
}
.content h2 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 6px;
  opacity: 0.9;
}
.content p {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 140px;
}
.content a {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #cdd4de;
  padding: 8px 14px;
  border-radius: 4px;
  opacity: 0.4;
  cursor: pointer;
}

