<div class="main-layout">

    <!-- Navigation Bar -->
    <app-navbar></app-navbar>

    <!-- Main Content -->
    <main  class="main-content">
        <div style="text-align: center;">
            <!-- <h1>Welcome to 01Blog</h1>
            <p style="color: var(--muted-foreground); margin-top: 0.5rem;">Share your learning journey with the
                community</p> -->

            <router-outlet></router-outlet>
        </div>
    </main> 


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <!-- Your footer content -->
        </div>
    </footer>
</div>