<div class="dashboard">
    <div class="container">
        <div class="analytics-pere">
            <div class="analytics">
                <div class="posts">
                    <div>
                        NUMBER OF BLOGS : <span class="num">{{countPosts()}}</span>
                    </div>
                </div>


                <div class="most">
                    <h2>Most reported users </h2>
                    <div class="rep">
                        <div>
                            @for (item of mostReport(); track $index) {
                            <div class="rep-user">
                                <div>
                                    @{{item.nickname}}
                                    <span>{{item.reportCount}}</span>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Users">
                <div class="table">
                    <table mat-table [dataSource]="users()" class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element">
                                <div>
                                    <div class="avatar cap">
                                        @if (element.id == this.authService.currentUser?.id) {
                                        <img [src]="this.authService.currentUser?.avatar ? apiUrl+this.authService.currentUser?.avatar : '/default-avatar.jpg'"
                                            alt="{{ element.nickname }}'s avatar"
                                            onerror="this.src='/default-avatar.jpg'">
                                        } @else {
                                        <img [src]="element.avatar ?  apiUrl+element.avatar : '/default-avatar.jpg'"
                                            alt="{{ element.nickname }}'s avatar"
                                            onerror="this.src='/default-avatar.jpg'">
                                        }
                                    </div>
                                    <!-- {{element.id}} -->
                                </div>
                                @if (cursorUser == element.id) {
                                <div class="loadTrigger" #loadTrigger>postgress</div>
                                @defer (on viewport(loadTrigger)) {
                                <div>{{ loadMoreUsers() }}</div>
                                }
                                }
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="nickname">
                            <th mat-header-cell *matHeaderCellDef> Nickname </th>
                            <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="statue">
                            <th mat-header-cell *matHeaderCellDef> Statue </th>
                            <td mat-cell *matCellDef="let element">
                                @if(isCurrentlyBanned(element.bannedUntil)){
                                <span class="badge cap cap-size-2">banned</span>
                                }@else {
                                <span class="warning cap cap-size-2">active</span>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button matIconButton [matMenuTriggerFor]="menu1"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu1="matMenu">
                                    <button mat-menu-item (click)="openUser(element.id)">
                                        <mat-icon>open_in_new</mat-icon>
                                        <span>Open</span>
                                    </button>
                                    @if (element.role != "ROLE_ADMIN") {
                                    <button mat-menu-item (click)="adminify(element.id)">
                                        <mat-icon>admin_panel_settings</mat-icon>
                                        <span>Make Admin</span>
                                    </button>
                                    }@else {
                                    <button mat-menu-item (click)="adminify(element.id)">
                                        <mat-icon>remove_moderator</mat-icon>
                                        <span>Remove Admin</span>
                                    </button>
                                    }

                                    <button mat-menu-item (click)="banUser(element.id)">
                                        <mat-icon>block</mat-icon>
                                        <span>
                                            @if (!element.bannedUntil) {
                                            Ban
                                            } @else {
                                            unBan
                                            }
                                        </span>
                                    </button>
                                    <button class="mat-red" mat-menu-item (click)="deleteUser(element.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>


                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Blogs">
                <div class="blog-div">
                    <app-blogs class="app-blogs" [args]="{user : null}"></app-blogs>
                </div>
            </mat-tab>
            <mat-tab label="Reports">
                <div class="table reason">
                    <table mat-table class="mat-elevation-z8" [dataSource]="reports()">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.id}}
                                @if (cursorReport == element.id) {
                                <div #loadTrigger>postgress</div>
                                @defer (on viewport(loadTrigger)) {
                                <div>{{ loadMoreReports() }}</div>
                                }
                                }
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let element">
                                @if (element.blogId != null) {
                                <span class="badge badge-type post">POST</span>

                                } @else {
                                <span class="badge badge-type user">USER</span>
                                }
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                            <td mat-cell *matCellDef="let element"> <span class="time">{{element.createdAt | timeAgo
                                    }}</span> </td>
                        </ng-container>
                        <ng-container matColumnDef="reason">
                            <th mat-header-cell *matHeaderCellDef> Reason </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="reason-cell">{{element.reason}}</div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                @if (!element.status) {
                                <span class="badge badge-type open">OPEN</span>

                                } @else {
                                <span class="badge badge-type close">CLOSE</span>
                                }
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="reportingUser">
                            <th mat-header-cell *matHeaderCellDef> reporting User </th>

                            <td mat-cell *matCellDef="let element"> <span class="veiw-user"
                                    [matMenuTriggerFor]=" element.reportingUser.id != this.authService.currentUser?.id ? menu2 : null">{{element.reportingUser.nickname}}</span>
                                <mat-menu #menu2="matMenu">
                                    <button mat-menu-item (click)="openUser(element.reportingUser.id)">
                                        <mat-icon>open_in_new</mat-icon>
                                        <span>Open</span>
                                    </button>
                                    @if (element.reportingUser.role != "ROLE_ADMIN") {
                                    <button mat-menu-item
                                        (click)="adminify(element.reportingUser.id,element.reportingUser)">
                                        <mat-icon>admin_panel_settings</mat-icon>
                                        <span>Make Admin</span>
                                    </button>
                                    }@else {
                                    <button mat-menu-item
                                        (click)="adminify(element.reportingUser.id,element.reportingUser)">
                                        <mat-icon>remove_moderator</mat-icon>
                                        <span>Remove Admin</span>
                                    </button>
                                    }

                                    <button mat-menu-item
                                        (click)="banUser(element.reportingUser.id,element.reportingUser)">
                                        <mat-icon>block</mat-icon>
                                        <span>
                                            @if (!element.reportingUser.bannedUntil) {
                                            Ban
                                            } @else {
                                            unBan
                                            }
                                        </span>
                                    </button>
                                </mat-menu>

                            </td>
                        </ng-container>
                        <ng-container matColumnDef="reportedUser">
                            <th mat-header-cell *matHeaderCellDef> reported User </th>
                            <td mat-cell *matCellDef="let element"> <span class="veiw-user"
                                    [matMenuTriggerFor]=" element.reportedUser.id != this.authService.currentUser?.id ? menu3 : null">{{element.reportedUser.nickname}}</span>
                                <mat-menu #menu3="matMenu">
                                    <button mat-menu-item (click)="openUser(element.reportedUser.id)">
                                        <mat-icon>open_in_new</mat-icon>
                                        <span>Open</span>
                                    </button>
                                    @if (element.reportedUser.role != "ROLE_ADMIN") {
                                    <button mat-menu-item
                                        (click)="adminify(element.reportedUser.id,element.reportedUser)">
                                        <mat-icon>admin_panel_settings</mat-icon>
                                        <span>Make Admin</span>
                                    </button>
                                    }@else {
                                    <button mat-menu-item
                                        (click)="adminify(element.reportedUser.id,element.reportedUser)">
                                        <mat-icon>remove_moderator</mat-icon>
                                        <span>Remove Admin</span>
                                    </button>
                                    }

                                    <button mat-menu-item
                                        (click)="banUser(element.reportedUser.id,element.reportedUser)">
                                        <mat-icon>block</mat-icon>
                                        <span>
                                            @if (!element.reportedUser.bannedUntil) {
                                            Ban
                                            } @else {
                                            unBan
                                            }
                                        </span>
                                    </button>
                                </mat-menu>

                            </td>
                        </ng-container>


                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button matIconButton [matMenuTriggerFor]="menu4"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu4="matMenu">
                                    <button mat-menu-item (click)="reviewReport(element.id)">
                                        @if (element.status) {
                                        <mat-icon>verified</mat-icon>
                                        } @else {
                                        <mat-icon>pending</mat-icon>
                                        }

                                        @if (element.status) {
                                        <span>Review (Open)</span>
                                        } @else {
                                        <span>Review (Closed)</span>
                                        }
                                    </button>
                                    @if (element.blogId != null) {
                                    @if (element.blogId == 0) {
                                    <button mat-menu-item>
                                        <mat-icon>block</mat-icon>
                                        <span>Blog has been deleted</span>
                                    </button>
                                    }@else {
                                    <button mat-menu-item (click)="openBlog(element.blogId)">
                                        <mat-icon>open_in_new</mat-icon>
                                        <span>Open Blog</span>
                                    </button>
                                    }


                                    }
                                </mat-menu>


                            </td>
                        </ng-container>



                        <tr mat-header-row *matHeaderRowDef="displayedColumnsReports"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsReports;"></tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
