.container {
    margin-inline: 200px;
}

@media (max-width: 1000px) {
    .container {
        margin-inline: 20px;
    }

    ::ng-deep .mat-mdc-tab-body-wrapper {
        max-width: 100px;
        /* max-height: 520px; */
    }

}

@media (max-width: 1400px) {
    .container {
        margin-inline: 0;
    }
}

::ng-deep .mdc-data-table__content {
    background-color: var(--color-white) !important;
    margin: 20px !important;
}

::ng-deep .mat-mdc-tab-body-wrapper {
    margin-top: 40px !important;
    border-top: 1px solid var(--bg-tertiary);
    /* padding: 30px; */
    margin-inline: -2px;
    background-color: var(--bg-primary);
    box-shadow: 0 1px 100px var(--ba);
    max-width: 1100px;
    /* max-height: 520px; */    
}

::ng-deep .mat-mdc-tab-body-wrapper:has(* .reason) {
    /* box-shadow: 0 1px 100px var(--ba); */
    box-shadow: 0 1px 100px var(--bared);
}



::ng-deep .mat-mdc-tab-body-wrapper {
    width: 100%;
    /* max-height: 520px; */
}

app-blogs {
    width: 100%;
}

.badge {
    background-color: #dc3545;
    color: #fef4f5;
    padding: 2px 4px;
    font-weight: 800;
}

.warning {
    background-color: var(--bg-hover);
    color: var(--text-primary);
    padding: 3px 5px;
    font-weight: 800;
}

.cap {
    --size: 2px;
}

.blog-div {
    /* padding-inline: 5px; */
}

mat-tab-group {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    padding: 30px;
}

::ng-deep  .mat-mdc-tab-body-wrapper:has(.table) {
    max-height: 600px;
}

table {
    box-shadow: 0 1px 5px var(--ba);
    max-height: 500px !important;
}

.app-blogs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--back);
}

.badge-type {
    padding-inline: 6px;
    border-radius: 2px;
}

.post {
    background-color: #7956eed8;
}

.user {
    background-color: #ee5656d8;
}

.close {
    background-color: var(--text-primary); 
    /* rgb(43, 43, 43) */
    color: var(--bg-primary);
}

.open {
    background-color: #5698eed8;
}

.veiw-user:hover {
    background-color: var(--ba); 
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;
}

.veiw-user {
    padding: 4px 6px;
}

.time {
    color: var(--text-muted);
}


/* .rs {
    max-height: 70px !important;
    overflow: scroll;
    background-color: red;
} */

::ng-deep .reason-cell {
    max-height: 100px;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.4;
    padding: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.055);
}


.mat-red, .mat-red * {
    color: #f84b4be0;
}

/* .dashboard {
    background-color: red;
    height: 100vh;
    display: block;
} */