.container {
    margin-inline: 200px;
}

@media (max-width: 600px) {
    .container {
        margin-inline: 5px;
    }

}

::ng-deep .mdc-data-table__content {
    background-color: var(--color-white) !important;
    margin: 20px !important;
}

::ng-deep .mat-mdc-tab-body-wrapper {
    margin-top: 40px !important;
    border-top: 1px solid var(--bg-tertiary);
    /* padding: 30px; */
    margin-inline: -2px;
    background-color: var(--bg-primary);
    box-shadow: 0 1px 100px var(--ba);
    /* max-height: 520px; */
}


app-blogs {
    width: 100%;
}
.badge {
    background-color: #dc3545;
    color: #fef4f5;
    padding: 2px 4px;
    font-weight: 800;
}

.warning {
    background-color: var(--bg-hover);
    color: var(--text-primary);
    padding: 3px 5px;
    font-weight: 800;
}

.cap {
    --size: 2px;
}

.blog-div {
    /* padding-inline: 5px; */
}

mat-tab-group {
    margin-block: 40px;
}