spring:
  application:
    name: backend-01-blog
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
      enabled: true
security:
  jwt:
    secret-key: ${JWT_SECRET_KEY} 
    expiration-time: 8640000000
app:
  cloudinary:
    cloud-url: ${CLOUDINARY_URL}
  upload:
    dir: ./uploads