.nav-link svg {
    margin-right: 0.5rem;
}

svg {
    fill: var(--btn--primarey);
}

.nav-link {
    color: var(--muted-foreground);
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    transition: color 0.2s ease;
    /* margin-left: 2.5rem; */
    display: flex;
    /* margin-left: 2.5rem; */
}

.nav-link svg {
    margin-right: 0.5rem;
}

.nav-link:hover {
    color: var(--primary);
}

.nav-link.active {
    color: var(--foreground);
}

::ng-deep .mat-menu-after:has(.parent) {
    transform: translateX(-30%) !important;
}

::ng-deep .mat-mdc-menu-panel:has(.parent) {
    width: 400px;
    max-width: 600px !important;
    max-height: 400px !important;
}

::ng-deep .mat-mdc-menu-item-text:has(.parent) {
    /* display: flex;
    justify-content: center !important;
    align-items: center !important; */
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
}


::ng-deep .mat-mdc-menu-item:has(.parent) {
    margin-block: 2px !important;
    padding-block: 3px !important;
    background-color: var(--bg-secondary) !important;
    border-bottom: 1px solid var(--bg-hover) !important;
}

#read {
    background-color: var(--foreground) !important;
}

.mark:hover {
    background-color: var(--bg-hover);
}

.mark {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 8px;
}

.flex {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid var(--bg-hover);
}


.gap {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 3px;
}

::ng-deep .flex .mat-mdc-menu-item-text {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.empty {
    padding: 20px;
}