<li><a routerLink="/notifications" class="nav-link" [matMenuTriggerFor]="menu">
        @if (notfs()?.count) {

        }
        <span [matBadge]="getBadgeText()" matBadgePosition="before">
            <svg width="20" viewBox="0 0 20 20" class="fill-current">
                <path d="M12 19H8V17H12V19Z"></path>
                <path d="M18 15H2V13H18V15Z"></path>
                <path d="M14 4H6V2H14V4Z"></path>
                <path d="M8 17H6V15H8V17Z"></path>
                <path d="M4 13H2V11H4V13Z"></path>
                <path d="M18 13H16V11H18V13Z"></path>
                <path d="M14 17H12V15H14V17Z"></path>
                <path d="M6 11H4V4H6V11Z"></path>
                <path d="M16 11H14V4H16V11Z"></path>
            </svg>
        </span>
        <span class="not">Notification</span>
    </a></li>

<div>
    <mat-menu #menu="matMenu" xPosition="after" yPosition="below">
        <div mat-menu-item class="flex">
            <h2>Notification</h2>
            <span class="gap" (click)="markAll(); $event.stopPropagation()">
                <span>mark all</span>
                <svg width="16" viewBox="0 0 16 13" class="text-icon-btn fill-current">
                    <rect x="0.25" y="6.2002" width="3.1" height="3.1"></rect>
                    <rect x="3.34961" y="9.2998" width="3.1" height="3.1"></rect>
                    <rect x="6.4502" y="6.2002" width="3.1" height="3.1"></rect>
                    <rect x="9.5498" y="3.09961" width="3.1" height="3.1"></rect>
                    <rect x="12.6504" width="3.1" height="3.1"></rect>
                </svg>
            </span>
        </div>
        @for (not of notfs()?.notfs ; track not.id) {
        <div mat-menu-item [id]="not.read ? 'read' : ''" (click)="navigateToPost(not.postId,not.id)">
            <div class="user-info" class="parent" [id]="mobile()? '' : 'desktop'">
                <div class="avatar">
                    <img class="cap" [src]="not.sender.avatar ?  apiUrl+not.sender.avatar : '/default-avatar.jpg'"
                        alt="{{ not.sender.nickname }}'s avatar" onerror="this.src='/default-avatar.jpg'">
                </div>
            </div>
            <div>
                <p>new post created by @{{not.sender.nickname}} </p>
                <p class="post-date">{{ not.createdAt | timeAgo}}</p>
            </div>
            @if (!not.read) {
            <div (click)="markRead(not.id); $event.stopPropagation()" class="mark cap">
                <svg width="16" viewBox="0 0 16 13" class="text-icon-btn fill-current">
                    <rect x="0.25" y="6.2002" width="3.1" height="3.1"></rect>
                    <rect x="3.34961" y="9.2998" width="3.1" height="3.1"></rect>
                    <rect x="6.4502" y="6.2002" width="3.1" height="3.1"></rect>
                    <rect x="9.5498" y="3.09961" width="3.1" height="3.1"></rect>
                    <rect x="12.6504" width="3.1" height="3.1"></rect>
                </svg>
            </div>
            }

            @if (not.id == cursor) {
            <div #loadTriggerNot></div>
            @defer (on viewport(loadTriggerNot),) {
            <div>{{ loadMoreNotifications() }}</div>
            }
            }


        </div>
        } @empty {
        <div class="parent empty">no notifacations</div>
        }
    </mat-menu>
</div>