<div class="container-blogs">
    <article class="blog-card-back">
        <article class="blog-card">
            <!-- Header with user info -->
            <header class="blog-header">
                <div class="user-info" (click)="$event.stopPropagation(); openUser(blog?.user.id)">
                    <div class="avatar">
                        <img [src]="this.blog?.user.avatar ?  apiUrl+this.blog?.user.avatar : '/default-avatar.jpg'"
                            alt="{{ this.blog?.user.nickname }}'s avatar" onerror="this.src='/default-avatar.jpg'">
                    </div>
                    <div class="user-details">
                        <span class="author-name">{{ this.blog?.user?.nickname }}</span>
                        <span class="post-date">{{ this.blog?.createdAt | date:'mediumDate' }}</span>
                    </div>
                </div>

                <button (click)="$event.stopPropagation()" matIconButton [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    @if (authService.currentUser?.id == this.blog?.user.id) {
                    <button mat-menu-item (click)="DeleteBlog(this.blog.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="EditBlog(this.blog.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    }
                    <!-- <button mat-menu-item (click)="ReportBlog(this.blog.id)">
                        <mat-icon>report</mat-icon>
                        <span>Report</span>
                    </button> -->
                    <button [matMenuTriggerFor]="reportUser" class="mat-red" mat-menu-item
                        #menuTrigger="matMenuTrigger">
                        <mat-icon>report</mat-icon>
                        <span>Report</span>
                    </button>
                    <mat-menu #reportUser="matMenu">
                        <div class="report" (click)="$event.stopPropagation()">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Report your problem</mat-label>
                                    <textarea maxlength="1000" #textarea matInput
                                        placeholder="Ex. It makes me feel..."></textarea>
                                </mat-form-field>
                            </form>

                            <button (click)="ReportBlog(this.blog.id, textarea ,menuTrigger)"
                                class="btn btn-primary">submit</button>
                        </div>
                    </mat-menu>
                </mat-menu>

            </header>


            <!-- Blog content -->
            @if (this.blog?.title) {
            <div class="blog-content">
                <div class="blog-title">
                    <h3>{{ this.blog?.title }}</h3>
                </div>
            </div>
            }


            <div class="blog-content">
                <div class="blog-description">
                    <markdown class="markdown-preview" [data]="this.blog?.description"></markdown>
                </div>
            </div>

            <footer class="blog-footer">
                <h1 class="text-start"><span _ngcontent-ng-c2640124345="" class="logo-text">Co<span
                            _ngcontent-ng-c2640124345="">mm</span>ents</span></h1>

                <form [formGroup]="formCommend" class="comments" (submit)="(submitComment())">
                    <div class="comment-back cap">
                        <textarea maxlength="5000" formControlName="description" class="comment-textarea" name="" id=""
                            placeholder="Add a comment to the discussion" rows="5"
                            (keydown)="onKeyDown($event,btn)"></textarea>
                    </div>
                    <button #btn type="submit" class="btn btn-primary">Publish</button>
                </form>

                @for (item of (this.blog?.children || []); track item.id) {
                <app-child-blog [thread]="2" [child]="item"></app-child-blog>
                @if (lastChild == item.id) {
                <div #loadTrigger></div>
                @defer (on viewport(loadTrigger),) {
                <div>{{ loadMoreChildren() }}</div>
                }
                }
                }
            </footer>
        </article>
    </article>
</div>