<div class="container-blogs">
    <article class="blog-card-back">
        <article class="blog-card">
            <!-- Header with user info -->
            <header class="blog-header">
                <div class="user-info">
                    <div class="avatar">
                        <img [src]="this.blog" alt="{{ this.blog?.user?.nickname }}'s avatar"
                            onerror="this.src='/default-avatar.jpg'">
                    </div>
                    <div class="user-details">
                        <span class="author-name">{{ this.blog?.user?.nickname }}</span>
                        <span class="post-date">{{ this.blog?.createdAt | date:'mediumDate' }}</span>
                    </div>
                </div>

                <button (click)="$event.stopPropagation()" matIconButton [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    @if (authService.currentUser?.id == this.blog?.user.id) {
                    <button mat-menu-item (click)="DeleteBlog(this.blog.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    <button mat-menu-item (click)="EditBlog(this.blog.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    }
                    <button mat-menu-item (click)="DeleteBlog(this.blog.id)">
                        <mat-icon>report</mat-icon>
                        <span>Report</span>
                    </button>
                </mat-menu>

            </header>


            <!-- Blog content -->
            <div class="blog-content">
                <div class="blog-title">
                    <h3>{{ this.blog?.title }}</h3>
                </div>
            </div>



            <div class="blog-content">
                <div class="blog-description">
                    <markdown class="markdown-preview" [data]="this.blog?.description"></markdown>
                </div>
            </div>

            <footer class="blog-footer">
                <h1 class="text-start"><span _ngcontent-ng-c2640124345="" class="logo-text">Co<span
                            _ngcontent-ng-c2640124345="">mm</span>ents</span></h1>

                <form [formGroup]="formCommend" class="comments" (submit)="(submitComment())">
                    <div class="comment-back cap">
                        <textarea formControlName="description" class="comment-textarea" name="" id=""
                            placeholder="Add a comment to the discussion" rows="5"
                            (keydown)="onKeyDown($event,btn)"></textarea>
                    </div>
                    <button #btn type="submit" class="btn btn-primary">Publish</button>
                </form>

                @for (item of (this.blog?.children || []); track item.id) {
                <app-child-blog [thread]="2" [child]="item" [parent]="this.blog" ></app-child-blog>
                }

                <!-- @for (item of (this.blog?.children); track item.id) {
                <div class="comment">
                    <header class="blog-header">
                        <div class="user-info">
                            <div class="avatar">
                                <img [src]="'images/'+item.user.avatar" alt="{{ item.user.nickname }}'s avatar"
                                    onerror="this.src='/default-avatar.jpg'">
                            </div>

                        </div>
                    </header>

                    <div class="comment-back cap">
                        <div class="comment-content">
                            <div class="user-details flex-row">
                                <span class="author-name">{{ item.user.nickname }}</span>
                                <span class="post-date">{{ item.createdAt | date:'mediumDate' }}</span>
                            </div>
                            <div class="comment-description">
                                <pre class="">{{item.description}}</pre>
                            </div>

                        </div>
                    </div>
                    <footer class="blog-footer likes-comment">
                        <div class="blog-stats flex">
                            <span class="stat">
                                <svg (click)="toggleLike(item); $event.stopPropagation()" width="20" height="20"
                                    viewBox="0 0 20 20" [class.liked]="item.like" [class.not-liked]="!item.like">
                                    <path d="M5.75837 1.59375H2.90332V4.48449H5.75837V1.59375Z"></path>
                                    <path d="M8.60701 1.59375H5.75195V4.48449H8.60701V1.59375Z"></path>
                                    <path d="M14.3043 1.59375H11.4492V4.48449H14.3043V1.59375Z"></path>
                                    <path d="M17.1519 1.59375H14.2969V4.48449H17.1519V1.59375Z"></path>
                                    <path d="M11.4556 4.47681H8.60059V7.36755H11.4556V4.47681Z"></path>
                                    <path d="M2.91075 4.47681H0.0557022V7.36755H2.91075V4.47681Z"></path>
                                    <path d="M20.0006 4.47656H17.1455V7.3673H20.0006V4.47656Z"></path>
                                    <path d="M2.91075 7.36108H0.0557022V10.2518H2.91075V7.36108Z"></path>
                                    <path d="M5.75837 10.2451H2.90332V13.1359H5.75837V10.2451Z"></path>
                                    <path d="M8.60701 13.1289H5.75195V16.0197H8.60701V13.1289Z"></path>
                                    <path d="M11.4556 16.0127H8.60059V18.9034H11.4556V16.0127Z"></path>
                                    <path d="M14.3043 13.1289H11.4492V16.0196H14.3043V13.1289Z"></path>
                                    <path d="M17.1519 10.2451H14.2969V13.1359H17.1519V10.2451Z"></path>
                                    <path d="M20.0006 7.36133H17.1455V10.2521H20.0006V7.36133Z"></path>
                                </svg>
                                {{ item.likes }}
                            </span>
                            <span class="stat">
                                <svg width="23" height="23" viewBox="0 0 16 16" fill="none"
                                    class="text-text-primary fill-current comment-svg">
                                    <path d="M12.7992 2.40002H3.19922V4.00002H12.7992V2.40002Z"></path>
                                    <path d="M12.8008 10.4H4.80078V12H12.8008V10.4Z"></path>
                                    <path d="M4.79922 12H3.19922V13.6H4.79922V12Z"></path>
                                    <path d="M3.20156 10.4H1.60156V12H3.20156V10.4Z"></path>
                                    <path d="M14.4008 4H12.8008V10.4H14.4008V4Z"></path>
                                    <path d="M3.20156 4H1.60156V10.4H3.20156V4Z"></path>
                                </svg>
                                {{ item.childrenCount || 0 }}
                            </span>
                        </div>
                    </footer>
                </div>

                <div class="w-100">
                    <form [formGroup]="formCommend" class="comments" (submit)="(submitComment())">
                        <div class="comment-back cap">
                            <textarea formControlName="description" class="comment-textarea" name="" id=""
                                placeholder="Add a comment to the discussion" rows="5"
                                (keydown)="onKeyDown($event,btn)"></textarea>
                        </div>
                        <button #btn type="submit" class="btn btn-primary">Publish</button>
                    </form>
                </div>




                @if (this.lastChild == item.id) {
                <div #loadTrigger></div>
                @defer (on viewport(loadTrigger)) {
                {{ loadMoreChildren() }}
                } @placeholder {
                <mat-spinner diameter="32"></mat-spinner>
                }
                }
                } -->



            </footer>
        </article>
    </article>
</div>