.markdown-editor-container {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
	/* width: 100%;
  max-width: 1500px; */
}

.editor-header {
	text-align: center;
	margin-bottom: 24px;
}

.editor-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	/* grid-template-columns: 1fr 1fr; */
	margin-top: 35px;
	/* padding-inline: 300px; */
	/* height: 600px; */
}

@media (max-width: 700px) {
	.editor-layout {
		grid-template-columns: 1fr;
		height: auto;
		/* padding: 5px; */
	}
}


.editor-panel,
.preview-panel {
	display: flex;
	flex-direction: column;
	background: var(--bg-primary);
	border: 1px solid var(--border-color);
	border-radius: 8px;
	overflow: hidden;
	height: 600px;
	width: 100%;

	--size: 10px;
	clip-path: polygon(var(--size)0, calc(100% - var(--size))0, calc(100% - var(--size))var(--size), 100% var(--size), 100% calc(100% - var(--size)), calc(100% - var(--size))calc(100% - var(--size)), calc(100% - var(--size))100%, var(--size)100%, var(--size)calc(100% - var(--size)), 0 calc(100% - var(--size)), 0 var(--size), var(--size)var(--size));
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* 
.preview-panel {
	display: none;
} */



.panel-label {
	padding: 12px 16px;
	background: var(--bg-secondary);
	border-bottom: 1px solid var(--border-color);
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--text-primary);
	margin: 0;
	height: 50px;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	resize: none;
	background-color: var(--bg-secondary);
	color: var(--text-primary);
}

textarea:focus {
	outline: none;
	resize: none;
	size: 100%;
}

.form-blog {
	width: 100%;
}


::ng-deep .NgxEditor__Wrapper {
	border: none;
	padding: 40px;
	width: 100%;
	height: 100%;
	word-break: break-all;
}

.preview-content {
	flex: 1;
	padding: 16px;
	overflow-y: auto;
	word-break: break-all;
	background: var(--bg-primary);
}

.markdown-preview {
	/* min-height: 100%; */
	text-align: start;
	padding-inline: 50px;
	padding-block: 10;
	word-break: break-all;
}



.shadow {
	/* background-color:#1f2937; */
	background-color: #1f293773;
}

.editor-title {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 50px; */

}

.with-100 {
	width: 100px;
}

.panel-label {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.btn {
	padding: 0;
}

.btn-primary {
	background-color: var(--btn--primarey);
}

.textarea {
	border: none;
}

.mat-form-field {
	border: 1px solid var(--bg-tertiary);;
}


/* Ngx-Editor Custom Styles */
::ng-deep .NgxEditor {
	/* min-height: 100% !important; */
	height: auto !important;
	border: none !important;
	line-height: 1.6 !important;
	overflow: auto !important;
	height: 600px !important;
}

::ng-deep .NgxEditor__Content {
	min-height: 95% !important;
	text-align: start;
}

.error {
	/* background-color: rgba(255, 0, 0, 0.048); */
	color: rgba(255, 0, 0, 0.678);
	padding: 2px;
	padding-left: 30px;
	border: var(--text-black) solid 1px;
}

.form-blog {
	display: grid;
	grid-template-rows: 2fr 1fr 20fr 2fr;
	grid-template-columns: 1fr;
	height: 100%;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}



.title-input {
	height: 70px;
	border: none;
	padding: 6px;
	padding-left: 30px;
	font-size: 50px;
	font-weight: 900;
	margin-top: 10px;
	background-color: var(--bg-secondary);
	color: var(--text-primary);
	
	/* width: 100%; */
}

.preview-panel h1 {
	text-align: start;
	padding-inline: 10px;
	padding-inline: 50px;
	font-size: 50px;
	line-height: 1.3;
	font-weight: 900;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 10px;
}

.preview-panel * {
	line-height: 1.3;
}

.preview-panel {
	overflow: scroll;
}


::ng-deep video {
	width: 100%;
	height: auto;
}

.toolbar {
	padding: 5px;
	margin-top: 5px;
	/* margin: 5px; */
}

.editor-toolbar {
	background-color: var(--bg-tertiary);
	padding: 5px;
	margin-top: 10px;
	text-align: start;
	/* width: 100%; */
}

.toolbar-btn {
	background: none;
	border: none;
	padding: 6px 8px;
	border-radius: 3px;
	margin-inline: 5px;
}

.toolbar-btn:hover {
	background-color: var( --outline);
}
