div {
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

::ng-deep app-blogs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
